---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
	title="Posts"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date("August 08 2021")}
	heroImage="/about-i.webp"
>
	<h1>
		👨‍💻 Hello, I'm Phapdev!
	</h1>
	<p>
		I'm a passionate software engineer dedicated to
		exploring and developing innovative technologies. With a strong
		enthusiasm for continuous learning, I have created this blog as a
		platform to share insights, experiences, and knowledge with a broader
		community. My goal is to foster meaningful discussions and contribute to
		the ever-evolving world of technology.
	</p>
	<p>
		I have a particular interest in web3 and blockchain technologies, as I
		believe they hold the key to revolutionizing how we interact and conduct
		transactions in the digital age. Through this blog, I aim to delve
		deeper into these emerging fields, discuss their potential impacts, and
		explore practical applications that can shape our future. Join me on
		this journey as we uncover the possibilities and challenges that lie
		ahead in the realm of decentralized technologies.
	</p>
</Layout>
